@import url('https://fonts.googleapis.com/css?family=Heebo:300,400&display=swap');

* {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #dfdfdf;
  --secondary-color: rgb(0, 0, 0);
}

body {
  background-color: var(--primary-color);
  font-family: 'Heebo', sans-serif;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

#map {
  width: 100vw;
  height: 100vh;
}